<!--panel body-->
<div class="panel-body">
    <div class="table-responsive">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <div class="col-sm-3 col-sm-offset-9">
            <form class="sidebar-search">
                <a class="remove">
                </a>

                <div class="input-group">
                    <input name="search" ng-change="vm.SearchType('&search='+query)"
                           type="text" class="form-control" placeholder="Search..."
                           ng-model="query">
                                            <span class="input-group-btn">
                                                <a class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </span>
                </div>
            </form>
        </div>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
        <table class="table table-striped table-hover">
            <thead>
            <th><strong>Full Name</strong></th>
            <th><strong>User Name</strong></th>
            <th><strong>User Role</strong></th>
            <th class="text-center"><strong>Status</strong></th>
            <th class="text-center"><strong>Actions</strong></th>
            </thead>
            <tbody>
            <tr dir-paginate="user in vm.users | itemsPerPage: vm.itemsPerPage | filter:query | orderBy:sortField:reverse"
                total-items="vm.totalItems" current-page="vm.currentPage">
                <td><a ng-show="authService.checkPermission('user-detail')"
                       ui-sref="main.users.detail({userId:user.id})">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.role[0].name}}</td>
                <td class="text-center" ng-show="user.status == 'active'"><span
                        class="label label-success">Active</span></td>
                <td class="text-center" ng-show="user.status == 'inactive'"><span
                        class="label label-warning">Pending</span>
                </td>
                <td class="text-center" ng-show="user.status == ''"><span
                        class="label label-warning">Inactive</span>
                </td>
                <td style="text-align: center">
                    <a ng-show="authService.checkPermission('user-edit')"
                       class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                       tooltip-size="small"
                       tooltip-template="edit user"
                       ui-sref="main.users.update({userId:user.id})">
                        <i class="fa fa-edit"></i></a>

                    <a ng-show="authService.checkPermission('role-create')"
                       class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                       tooltip-size="small"
                       tooltip-template="Assign User Role"
                       ui-sref="main.users.assignRole({userId:user.id})">
                        <i class="fa fa-check-square-o"></i></a>

                    <a ng-show="authService.checkPermission('user-status')" ng-if="user.status == 'active'"
                       class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                       tooltip-size="small"
                       tooltip-template="Disable User"
                       ng-click="vm.updateStatus(user.id,'inactive')">
                        <i class="fa fa-toggle-on"></i></a>

                    <a ng-show="authService.checkPermission('user-status')" ng-if="user.status != 'active'"
                       class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                       tooltip-size="small"
                       tooltip-template="Enable User"
                       ng-click="vm.updateStatus(user.id,'active')">
                        <i class="fa fa-toggle-off"></i></a>

                    <a ng-show="authService.checkPermission('user-delete')"
                       class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                       tooltip-size="small"
                       tooltip-template="Remove User"
                       ng-click="confirmationModal('UsersListCtrl',user.id) ">
                        <i class="icon-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <ul class="pagination pagination-separated pagination-rounded">
        <dir-pagination-controls on-page-change="vm.getUsers()"></dir-pagination-controls>
    </ul>

</div>
<!--panel body-->