<form name="userAddForm" class="form-horizontal">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <!-- Name-->
                <div class="form-group required"
                     ng-class="{'has-error':userAddForm.userName.$touched && userAddForm.userName.$invalid}">
                    <label class="control-label col-sm-3">Full Name :</label>
                    <input name="userName" ng-model="vm.users.name"
                           type="text" class="form-control input-inline input-large col-sm-7"
                           placeholder="Enter Name" ng-minlength="7" ng-pattern="/^[\w -\.@]*$/"
                           required>

                    <div class="col-md-9 col-md-offset-3" ng-messages="userAddForm.userName.$error"
                         ng-if="userAddForm.userName.$touched">
                        <p ng-message="required">User Name is required.</p>

                        <p ng-message="minlength">User Name too Short.</p>

                        <p ng-message="pattern">Invalid User Name.</p>
                    </div>
                </div>
                <!-- Name-->

                <!--user name-->
                <div ng-if="!vm.update" class="form-group required"
                     ng-class="{'has-error':userAddForm.email.$touched && userAddForm.email.$invalid}">
                    <label class="control-label col-sm-3">User Name :</label>
                    <input ng-model="vm.users.email" class="form-control input-inline input-large col-sm-7"
                           type="text" name="email" placeholder="Enter User Name"
                           required>
                </div>
                <!--user name-->
                <!--user type-->
               <!-- <div ng-if="!vm.update" ng-if="!vm.update"class="form-group required"
                     ng-class="{'has-error':userAddForm.userType.$touched && userAddForm.userType.$invalid}">
                    <label class="control-label col-sm-3">User Type :</label>
                    <select name="userType" type="text" required=""
                            class="form-control input-inline input-large col-sm-7"
                            ng-model="vm.users.user_type">
                        <option value="Administrator">Administrator</option>
                        <option value="Managers">Managers</option>
                        <option value="data entry">data entry</option>
                    </select>

                    <div class="col-md-9 col-md-offset-3" ng-messages="userAddForm.userType.$error"
                         ng-if="userAddForm.userType.$touched">
                        <p ng-message="required">Email Address Is Required."</p>

                        <p ng-message="userType">Invalid Email Address.</p>
                    </div>
                </div>-->
                <!--user name-->
            </div>
            <div class="col-lg-6">
                <!--password-->
                <div ng-if="!vm.update"class="form-group required"
                     ng-class="{'has-error':userAddForm.newPassword.$touched && userAddForm.newPassword.$invalid}">
                    <label class="control-label col-sm-3">Password :</label>
                    <input ng-model="vm.users.password" class="form-control input-inline input-large col-sm-7"
                           type="password" name="newPassword"
                           id="example-progress-bar"   placeholder="Enter Password"
                           required ng-minlength="8">
                </div>
                <!--password-->

                <!--password-->
              <!--  <div ng-if="!vm.update" class="form-group required"
                     ng-class="{'has-error':userAddForm.confirmPassword.$touched && userAddForm.confirmPassword.$invalid}">
                    <label class="control-label col-sm-3">Confirm Password</label>
                    <input ng-model="vm.password" ng-change="vm.confirmPassword()" class="form-control input-inline input-large col-sm-7" type="password"
                           name="confirmPassword"
                           required >

                    <div class="col-md-9 col-md-offset-3" ng-messages="userAddForm.confirmPassword.$error"
                         ng-if="userAddForm.confirmPassword.$touched">
                        <p ng-message="required">Password Confirmation Is Required."</p>

                        <p ng-message="pattern">Passwords don't match.</p>
                    </div>
                </div>-->
                <!--password-->
            </div>
        </div>
        <div class="text-right">
            <button type="button" ng-click="vm.cancel()" class="btn default">Cancel</button>
            <button ng-if="!vm.update" ng-click="vm.postUser()" class="addUser btn btn-success" ng-disabled="userAddForm.$invalid">Register User <i
                    class=""></i></button>
            <button ng-if="vm.update" ng-click="vm.updateUser()" class=" updateUser btn btn-success" ng-disabled="userAddForm.$invalid">Update User <i
                    class=""></i></button>
        </div>
    </div>
</form>