<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h2>User Information</h2>
            </div>
            <div class="portlet-body">
                <div class="note note-success">
                    <table class="table table-stripped">
                        <tr>
                            <td><strong>Full Name</strong></td>
                            <td>{{vm.user.name}}</td>
                        </tr>
                        <tr>
                            <td><strong>User Role</strong></td>
                            <td>{{vm.user.role[0].name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-building"></i>Sales Summary
                </div>
                <div class="actions">
                    <a ui-sref="main.sales.add" class="btn btn-primary btn-lg">
                        <i class="fa fa-plus"></i> Create Sales</a>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-if="vm.sales.length=0">
                    <h4 style="text-align: center">It seems like {{vm.user.name}} did not make any sales Yet</h4>
                </div>

                <table ng-if="vm.sales.length>0"
                       class="table table-striped table-bordered table-hover table-header-fixed" id="sample_1">
                    <thead>
                    <tr class="">
                        <th> Invoice number</th>
                        <th> Tin number</th>
                        <th> Date</th>
                        <th> Total paid</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sales in vm.sales">
                        <td><a ng-show="authService.checkPermission('invoice-detail')"
                               ui-sref="main.sales.detail({invoice_id:sales.invoice.data.id})">{{sales.invoice.data.invoice_number}}</a>
                        </td>
                        <td><a ui-sref="main.sales.detail({invoice_id:sales.invoice.data.id})">{{sales.invoice.data.tin_number}}</a>
                        </td>
                        <td>{{sales.invoice.data.date|date:'mediumDate'}}</td>
                        <td>{{sales.invoice.data.total_paid|number:2}} ETB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>