<body class=" login">
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="assets/images/logo-big.png" alt=""/> </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">

    <!-- BEGIN LOGIN FORM -->
    <form class="login-form">
        <h3 ng-if="!vm.authenticating" class="form-title font-green">Sign In</h3>
        <img style="padding-left: 30%" ng-if="vm.authenticating" src="assets/images/loading.gif" alt=""/> </a>
        <p style="color: red;text-align: center">{{vm.loginError}}</p>

        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span> Enter any username and password. </span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Username</label>

            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input style="background-color: white"class="form-control placeholder-no-fix" ng-model="vm.email" type="email"
                       autocomplete="off" placeholder="Username" name="username"/></div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>

            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input style="background-color: white" class="form-control placeholder-no-fix" ng-model="vm.password" type="password"
                       autocomplete="off" placeholder="Password" name="password"/></div>
        </div>
        <div class="form-actions">
            <button type="submit" ng-click="vm.login()" class="btn green uppercase">Login</button>
            <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="remember" value="1"/>Remember
                <span></span>
            </label>
            <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
        </div>

        <div class="create-account">
            <p>
            </p>
        </div>
    </form>
    <!-- END LOGIN FORM -->

    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form" action="index.html" method="post">
        <h3 class="font-green">Forget Password ?</h3>

        <p> Enter your e-mail address below to reset your password. </p>

        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
                   name="email"/></div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->

</div>
<div class="copyright" style="color: white">2017 &copy; Hospital bill management web app
    <a target="_blank" href="http://yokidaconsult.com">Yokida Consult</a> &nbsp;|&nbsp;</div>
