<div class="hidden-print">
<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h2>Company Information</h2>
            </div>
            <div class="portlet-body">
                <div class="note note-success">
                    <table class="table table-stripped">
                        <tr>
                            <td><strong>Tin number:</strong></td>
                            <td>{{vm.sales.tin_number}}</td>
                        </tr>
                        <tr>
                            <td><strong>Invoice number:</strong></td>
                            <td>{{vm.sales.invoice_number}}</td>
                        </tr>
                        <tr>
                            <td><strong>Date:</strong></td>
                            <td>{{vm.sales.date|date:'mediumDate'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h2>Customer Information</h2>
            </div>
            <div class="portlet-body">
                <div class="note note-success">
                    <table class="table table-stripped">
                        <tr>
                            <td><strong>Customer Name:</strong></td>
                            <td>{{vm.sales.customer_name}}</td>
                        </tr>
                        <td><strong>Address:</strong></td>
                        <td>{{vm.sales.address}}</td>
                        </tr>
                        <tr>
                            <td><strong>Phone Number:</strong></td>
                            <td>{{vm.sales.phone_num}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th> Type</th>
                <th> Name</th>
                <th> Quantity</th>
                <th> Unit Price</th>
                <th> Sub Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sales in vm.salesData">
                <td>{{sales.type}}</td>
                <td>{{sales.item_name}}</td>
                <td>{{sales.quantity}}</td>
                <td>{{sales.unit_price|number:2}} ETB</td>
                <td>{{sales.sub_price|number:2}} ETB</td>
            </tr>
            </tbody>
        </table>
    </div>
<div class="row">
    <div class="row col-lg-offset-6 col-lg-4 pull-right">
        <div class="portlet-body">
                <table class="table table-stripped">
                    <tr>
                        <td><strong>Total Price ::</strong></td>
                        <td>{{((vm.sales.total_paid)/1.15)|number:2}} ETB</td>
                    </tr>
                    <tr>

                        <td><strong>VAT :</strong></td>
                        <td>{{(((vm.sales.total_paid)/1.15)*0.15)|number:2}} ETB</td>
                    </tr>
                    <tr>
                        <td><strong>Grand Total:</strong></td>
                        <td><strong>{{vm.sales.total_paid|number:2}} ETB</strong></td>
                    </tr>
                </table>
            </div>
        <br/>
        <a class="btn btn-lg blue hidden-print margin-bottom-3" onclick="javascript:window.print();"> Print
            <i class="fa fa-print"></i>
        </a>
    </div>
</div>
</div>
</div>

<!--Print View -->
    <div class="visible-print-block">
        <html>
        <head>
            <meta charset="utf-8">
            <title>A simple, clean, and responsive HTML invoice template</title>

            <style>
                .invoice-box {
                    margin: auto;
                    padding: 30px;
                    font-size: 16px;
                    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                    color: #555;
                }

                .invoice-box table {
                    width: 100%;
                    line-height: inherit;
                    text-align: center;
                }

                .invoice-box table td {
                    padding: 10px;
                    vertical-align: top;
                }

                .invoice-box table tr td:nth-child(2) {
                    text-align: center;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 5px;
                }

                .invoice-box table tr.top table td.title {
                    font-size: 45px;
                    line-height: 45px;
                    color: #333;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-box table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-box table tr.total td:nth-child(2) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

                @media only screen and (max-width: 600px) {
                    .invoice-box table tr.top table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }

                    .invoice-box table tr.information table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

            </style>
        </head>

        <body>
        <div class="invoice-box">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
                                    <h3><strong>Receipt</strong></h3>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    <h4><strong>Company Information</strong></h4>
                                    <strong>Tin # :</strong> {{vm.sales.tin_number}}<br>
                                    <strong>Invoice #:</strong> {{vm.sales.invoice_number}}<br>
                                    <strong>Date:</strong> {{vm.sales.date|date:'mediumDate'}}
                                </td>
                                <td>
                                    <h4><strong>Customer Information</strong></h4>
                                    <strong>Tin # :</strong> {{vm.sales.tin_number}}<br>
                                    <strong>Address :</strong> {{vm.sales.address}}<br>
                                    <strong>Phone #:</strong> {{vm.sales.phone_num}}
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <table>
                    <tr class="heading">

                        <td>Type</td>
                        <td>Name</td>
                        <td>Quantity</td>
                        <td>Unit Price</td>
                        <td>Sub Price</td>
                    </tr>
                    <tr ng-repeat="sales in vm.salesData">
                        <td>{{sales.type}}</td>
                        <td>{{sales.item_name}}</td>
                        <td>{{sales.quantity}}</td>
                        <td>{{sales.unit_price|number:2}} ETB</td>
                        <td>{{sales.sub_price|number:2}} ETB</td>
                    </tr>
                </table>
                <tr class="information">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td class="pull-right">
                                    <br/>
                                    <strong>Total Price:</strong> {{((vm.sales.total_paid)/1.15)|number:2}} ETB<br>
                                    <strong>VAT : </strong>{{(((vm.sales.total_paid)/1.15)*0.15)|number:2}} ETB<br>
                                    <strong>Grand Total: </strong>{{vm.sales.total_paid|number:2}} ETB
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        </body>

        </html>
    </div>

<!--Print View -->