<div class="form-group">
<form class="mt-repeater form-horizontal" role="form" name="sales">
<h3 style="text-align: center">Receipt</h3>
<hr>
<div class="row">
    <div class="col-lg-5">
        <div class="portlet-title">
            <h4>Company Information</h4>
        </div>
        <div class="portlet-body">
            <div class="note note-default">
                <table class="table table-stripped">
                    <tr>
                        <td><strong>Invoice No.:</strong></td>
                        <td><input name="invoice_no" type="text"
                                   class="form-control input-inline input-small"
                                   ng-model="vm.salesData.invoice_no"
                                   placeholder="Enter invoice number">
                    </tr>
                    <tr>
                        <td><strong>Tin:</strong></td>
                        <td>00009866462</td>
                    </tr>
                    <tr>
                        <td><strong>Note :</strong></td>
                        <td><textarea name="note" type="text" rows="3"
                                      class="form-control input-inline input-large"
                                      ng-model="vm.salesData.note"
                                      placeholder="Enter note"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="col-lg-offset-2 col-lg-5">

        <div class="portlet-title">
            <h4>Customer Information</h4>
        </div>
        <div class="portlet-body">
            <div class="note note-default" style="height: 222px">
                <table class="table table-stripped">
                    <tr>
                        <td><strong> Name:</strong></td>
                        <td><input name="customerName" type="text"
                                   class="form-control input-inline input-large"
                                   ng-model="vm.salesData.customer_name"
                                   placeholder="Enter Customer Name"></td>
                    </tr>
                    <tr>
                        <td><strong> Tin:</strong></td>
                        <td><input name="address" type="text" required=""
                                   class="form-control input-inline input-large"
                                   ng-model="vm.salesData.tin"
                                   placeholder="Enter customer address "></td>
                    </tr>
                    <tr>
                        <td><strong> Phone Number:</strong></td>
                        <td><input input-phonemask name="phone_num" type="text"
                                   required=""
                                   class="form-control input-inline input-large"
                                   ng-model="vm.salesData.phone_num"
                                   placeholder="(+251)-999-99-99-99"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</form>
</div>

<div class="row">
    <div class="form-group">
        <form class="mt-repeater form-horizontal" role="form" name="sales">
    <div class="col-lg-6">
        <div>
            <table class="table table-responsive">
                <tr>
                    <td style="text-align: center">
                        Name
                    </td>
                    <td width="10%">
                        Qty
                    </td>
                    <td style="text-align: center">
                        Unit Price
                    </td>
                    <td style="text-align: center">
                        Sub Total
                    </td>
                    <td style="text-align: center">
                        Action
                    </td>
                </tr>
                <tr ng-repeat="sales in vm.sales track by $index">

                    <td style="text-align: center" width="20%">
                        <input style="border: none" type="text" name="type"
                               class="form-control"/>
                        {{sales.type}}
                    </td>
                    <td style="text-align: center" width="20%">
                        <input style="border: none" type="number" name="quantity"
                               class="form-control"
                               ng-change="vm.getSalesSubTotal(sales.item_id,$index,sales.type)"
                               ng-model="sales.quantity"
                               max="vm.products.quantity" />
                    </td>
                    <td style="text-align: center">
                        {{sales.latest_price|number:2}}
                    </td>
                    <td style="text-align: center">
                        {{(sales.latest_price*sales.quantity)|number:2}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs"  ng-click="vm.remove($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        <div class="row" style="padding-top:10px ">
            <div class="col-md-offset-4 ">
                <table class="table table-responsive">
                    <tr>
                        <td>Total amount:</td>
                        <td>{{vm.totalPrice|number:2}} ETB</td>
                    </tr>
                    <tr>
                        <td>VAT</td>
                        <td>{{vm.totalVAT|number:2}} ETB</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td><strong>{{vm.grandTotal|number:2}} ETB</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class=" panel-body">

            <ul class="nav nav-tabs nav-tabs-highlight nav-justified">
                <li class="active">
                    <a ng-click="vm.userChoice('product')"
                        data-toggle="tab"
                        data-target="#product"><i
                            class="position-left"
                            value="product"
                            ng-model="sales.type"></i>PRODUCT</a>
                </li>
                <li><a ng-click="vm.userChoice('service')"
                        data-toggle="tab"
                        data-target="#service"><i
                        class=" position-left"
                        value="service"
                        ng-model="sales.type"></i>SERVICE</a>
                </li>
            </ul>
            <div class="well">
                <div class="tab-content">
                    <!--Product-->
                    <div class="tab-pane active border-orange-800" id="product">
                        <button class="buttons btn btn-primary col-lg-4"
                                ng-model="sales.item_id"
                                ng-value="product.product.id"
                                ng-repeat="product in vm.products"
                                name="productType"
                                ng-click="vm.addNew($index)"
                                ng-disabled="vm.disabled[$index]">
                            {{product.product.name}}
                        </button>
                    </div>
                    <!--End Product -->

                    <!--Service-->
                    <div class="tab-pane active border-orange-800" id="service">
                        <div class="panel-body">
                            <div class="box">
                                <button class="buttons btn btn-primary col-lg-4"
                                        ng-model="sales.item_id"
                                        ng-value="service.id"
                                        ng-repeat="service in vm.services"
                                        name="serviceType"
                                        ng-click="vm.addNew($index)"
                                        ng-disabled="vm.disableds[$index]">
                                    {{service.name}}
                                </button>
                            </div>

                        </div>
                    </div>
                    <!--End Service -->

                </div>


            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions right ">
                    <button type="button" ng-click="vm.cancel()" class="btn default">Cancel</button>
                    <button class="sales btn btn-primary" ng-click="vm.postSales()"
                            ng-disabled="(sales.$invalid||vm.disableSubmitButton)">sales
                    </button>
                </div>
            </div>
        </div>
    </div>

    </form>
     </div>
</div>