<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
        .invoice-box {
            margin: auto;
            padding: 30px;
            font-size: 16px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 5px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="" style="width:100%; max-width:300px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <h2><strong>Company Information</strong></h2>
                            <strong>Tin # :</strong> {{vm.sales.tin_number}}<br>
                            <strong>Invoice #:</strong>  {{vm.sales.invoice_number}}<br>
                            <strong>Date:</strong>  {{vm.sales.date|date:'mediumDate'}}
                        </td>
                        <td>
                            <h2><strong>Customer Information</strong></h2>
                            <strong>Tin # :</strong>  {{vm.sales.tin_number}}<br>
                            <strong>Address #:</strong>  {{vm.sales.address}}<br>
                            <strong>Phone Number:</strong> {{vm.sales.phone_num}}
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
<table>
        <tr class="heading">

            <td>Type</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Unit Price</td>
            <td>Sub Price</td>
        </tr>
        <tr ng-repeat="sales in vm.salesData">
            <td>{{sales.type}}</td>
            <td>{{sales.item_name}}</td>
            <td>{{sales.quantity}}</td>
            <td>{{sales.unit_price|number:2}} ETB</td>
            <td>{{sales.sub_price|number:2}} ETB</td>
        </tr>
</table>
        <tr class="information">
            <td colspan="5">
                <table>
                    <tr>
                        <td>
                            <strong>Total Price:</strong> {{((vm.sales.total_paid)/1.15)|number:2}} ETB<br>
                            <strong>VAT #: </strong>{{(((vm.sales.total_paid)/1.15)*0.15)|number:2}} ETB<br>
                            <strong>Grand Total: </strong>{{vm.sales.total_paid|number:2}} ETB
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <a href="javascript:window.print();"> Print
        <i class="fa fa-print"></i>
    </a>
</div>
</body>

</html>