<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <div class="col-sm-3 col-sm-offset-9">
                    <form class="sidebar-search">
                        <a class="remove">
                        </a>

                        <div class="input-group">
                            <input name="search" ng-change="vm.SearchType('&search='+query)"
                                   type="text" class="form-control" placeholder="Search..."
                                   ng-model="query">
                                            <span class="input-group-btn">
                                                <a class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </span>
                        </div>
                    </form>
                </div>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover table-header-fixed" id="sample_1">
                    <thead>
                    <tr class="">
                        <th> Invoice number</th>
                        <th> Tin number</th>
                        <th> Date</th>
                        <th> Total paid</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="sales in vm.sales|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                        total-items="vm.totalItems" current-page="vm.currentPage">
                        <td><a ng-show="authService.checkPermission('invoice-detail')" ui-sref="main.sales.detail({invoice_id:sales.id})">{{sales.invoice_number}}</a></td>
                        <td>{{sales.tin_number}}</td>
                        <td>{{sales.date|date:'mediumDate'}}</td>
                        <td>{{sales.total_paid|number:2}} ETB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-right" style="margin-top: 5%">
                <div class="tab-pane active">
                    <ul class="pagination">
                        <dir-pagination-controls on-page-change="vm.getSales()"></dir-pagination-controls>
                    </ul>
                </div>
            </div>

        </div>
        <!-- END EXAMPLE TABLE PORTLET-->

    </div>
</div>