<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <div class="col-sm-3 col-sm-offset-9">
                    <form class="sidebar-search">
                        <a class="remove">
                        </a>

                        <div class="input-group">
                            <input name="search" ng-change="vm.SearchType('&search='+query)" ng-model="query"
                                   type="text" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <a class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </span>
                        </div>
                    </form>
                </div>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </div>
            <div class="portlet-body">
                <!-- END SIDEBAR TOGGLER BUTTON -->
                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr class="">
                            <th style="text-align: center"><h5><strong>Item name</strong></h5></th>
                            <th style="text-align: center"><h5><strong>Item type</strong></h5></th>
                            <th style="text-align: center"><h5><strong>Actions</strong></h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="type in vm.types|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                            total-items="vm.totalItems" current-page="vm.currentPage">
                            <td><a ui-sref="main.types.detail({typesId:types.id})">{{type.name}}</a>
                            </td>
                            <td style="text-align: center">{{type.type}}</td>
                            <td style="text-align: center">
                                <a ng-show="authService.checkPermission('type-edit')" class="btn btn-circle btn-icon-only btn-default" ui-sref="main.configuration.update({itemId:type.id})">
                                    <i class="fa fa-edit"></i></a>
                                <a ng-show="authService.checkPermission('type-delete')" class="btn btn-circle btn-icon-only btn-default" ng-click="confirmationModal('ItemTypeListCtrl',type.id)">
                                    <i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="pull-right" style="margin-top: 5%">
                    <div class="tab-pane active">
                        <ul class="pagination">
                            <dir-pagination-controls on-page-change="vm.types()"></dir-pagination-controls>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>