<div class="portlet-body form ">
    <form class="form-horizontal" role="form" name="TypeForm">
        <div class="row" style="padding-top: 5%">
            <div class="col-lg-6">

                <!--item type-->
                <div class="form-group required"
                     ng-class="{'has-error':TypeForm.itemType.$touched && TypeForm.itemType.$invalid}">
                    <label class="col-md-3 control-label">Item Type :</label>

                    <div class="col-md-9">
                        <select name="itemType" type="text" required=""
                                class="form-control input-inline input-large"
                                ng-model="vm.types.type">
                            <option value="product">Product</option>
                            <option value="service">Service</option>
                        </select>
                    </div>
                </div>
                <!--item type-->

                <!--name-->
                <div class="form-group required"
                     ng-class="{'has-error':TypeForm.itemName.$touched && TypeForm.itemName.$invalid}">
                    <label class="col-md-3 control-label">Name :</label>

                    <div class="col-md-9">
                        <input name="itemName" type="text" required="" ng-pattern=""
                               class="form-control input-inline input-large"
                               ng-model="vm.types.name"
                               placeholder="Enter Item Name">
                    </div>
                </div>
                <!--name-->


</div>
        </div>
        <div class="row">
            <div class="form-actions right ">
                <button  type="button" ng-click="vm.cancel()" class="btn default Cancel btn">Cancel</button>
                <button ng-if="!vm.update" type="submit" class="addType btn green" ng-disabled="(TypeForm.$invalid||vm.disableSubmitButton)"
                        ng-click="vm.postItemType()">Save
                </button>
                <button ng-if="vm.update" type="submit" class="updateType btn green" ng-disabled="(TypeForm.$invalid||vm.disableSubmitButton)"
                        ng-click="vm.putItemType()">Update
                </button>
            </div>
        </div>
    </form>
</div>


