<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <div class="col-sm-3 col-sm-offset-9">
                    <form class="sidebar-search">
                        <a class="remove">
                        </a>

                        <div class="input-group">
                            <input name="search" ng-change="vm.SearchType('&search='+query)"
                                   type="text" class="form-control" placeholder="Search..."
                                   ng-model="query">
                                            <span class="input-group-btn">
                                                <a class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </span>
                        </div>
                    </form>
                </div>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </div>
            <div class="portlet-body">
                <!-- END SIDEBAR TOGGLER BUTTON -->
                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr class="">
                            <th style="text-align: center"><h5><strong>Product Code</strong></h5></th>
                            <th><h5><strong>Product Name</strong></h5></th>
                            <th style="text-align: center"><h5><strong>Quantity</strong></h5></th>
                            <th style="text-align: center"><h5><strong>Product Status</strong></h5></th>
                            <th style="text-align: center"><h5><strong>Actions</strong></h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="product in vm.products|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                            total-items="vm.totalItems" current-page="vm.currentPage">
                            <td style="text-align: center"><a
                                    ui-sref="main.products.detail({productId:product.product.id})">{{product.product.code}}</a>
                            </td>
                            <td><a ui-sref="main.products.detail({productId:product.product.id})">{{product.product.name}}</a>
                            </td>
                            <td style="text-align: center"><a
                                    ui-sref="main.products.detail({productId:product.product.id})">{{product.product.quantity}}
                                {{product.product.unit_of_measure.name}}</a></td>
                            <td style="text-align: center">
                                <span ng-if="product.product.status === 'available'"
                                      class="label label-sm btn btn-info">Available</span>
                                <span ng-if="product.product.status === 'Not available'"
                                      class="label label-sm btn btn-warning">Not Available</span>
                            </td>
                            <td style="text-align: center">
                                <a class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                                   tooltip-size="small"
                                   tooltip-template="edit product"
                                   ui-sref="main.products.update({productId:product.product.id})">
                                    <i class="fa fa-edit"></i></a>
                                <a ng-if="product.product.status === 'available'"
                                   class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                                   tooltip-size="small"
                                   tooltip-template="Disable Product"
                                   ng-click="vm.updateStatus(product.product.id,'Not available')">
                                    <i class="fa fa-download"></i></a>
                                <a ng-if="product.product.status !== 'available'"
                                   class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="top"
                                   tooltip-size="small"
                                   tooltip-template="Enable Product"
                                   ng-click="vm.updateStatus(product.product.id,'available')">
                                    <i class="fa fa-upload"></i></a>
                                <a class="btn btn-circle btn-icon-only btn-default" tooltips tooltip-side="right"
                                   tooltip-size="small"
                                   tooltip-template="Remove product"
                                   ng-click="confirmationModal('ProductsListCtrl',product.product.id)">
                                    <i class="icon-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right" style="margin-top: 5%">
                    <div class="tab-pane active">
                        <ul class="pagination">
                            <dir-pagination-controls on-page-change="vm.getProducts()"></dir-pagination-controls>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>