<div class="portlet-body form">
    <form class="form-horizontal" role="form" name="productForm">
        <div class="row" style="padding-top: 5%">
            <div class="col-lg-6">
                <!--Product Name-->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productName.$touched && productForm.productName.$invalid}">
                    <label class="col-md-3 control-label">Product Name :</label>

                    <div class="form-group col-md-9">
                        <input disabled name="productName"
                               data-value="vm.product.product.id"
                               ng-model="vm.product.product.name"
                               type="text"
                               class="form-control input-medium">
                    </div>
                </div>
                <!--Product Name-->

                <!--unit price -->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productUnitPrice.$touched && productForm.productUnitPrice.$invalid}">
                    <label class="col-md-3 control-label">Unit price :</label>

                    <div class="form-group col-md-9">
                        <input name="productUnitPrice" type="number" required="" ng-pattern=""
                               class="form-control input-inline input-medium"
                               ng-model="vm.priceData.price"
                               ng-currency currency-symbol="ETB "
                               placeholder="Enter Unit price">
                    </div>
                </div>
                <!--unit price -->
            </div>
        </div>
        <div class="row">
            <div class="form-actions right ">
                <button type="button" ng-click="vm.cancel()" class="btn default">Cancel</button>
                <button type="submit" class="addProductPrice btn green" ng-disabled="(productForm.$invalid||vm.disableSubmitButton)"
                        ng-click="vm.addPrice()">Save
                </button>
            </div>
        </div>
    </form>
</div>


