<div class="portlet light ">
    <div class="row">
        <div class="row col-lg-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <h2>{{vm.product.product.name}}</h2>
                </div>
                <div class="portlet-body">
                    <div class="note note-success">
                        <table class="table table-stripped">
                            <tr>
                                <td><strong>Product code:</strong></td>
                                <td>{{vm.product.product.code}}</td>
                            </tr>
                            <tr>
                                <td><strong>Product type:</strong></td>
                                <td>{{vm.product.product.type_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Product status:</strong></td>
                                <td>{{vm.product.product.status}}</td>
                            </tr>
                            <tr>
                                <td><strong>Latest price</strong></td>
                                <td>{{vm.product.product.latest_price|number:2}} ETB</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <div class="portlet light bordered">
                    <h4>Product Description</h4>

                    <p ng-bind="vm.product.product.detail"></p>
                </div>

            </div>
        </div>
        <div class="row col-lg-12">
            <!-- BEGIN ACCORDION PORTLET-->
            <div class="portlet-body">
                <div class="panel-group accordion" id="product">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled " data-toggle="collapse"
                                   data-parent="#product" data-target="#price"> <strong>Product Stock History </strong>
                                </a>
                            </h4>
                        </div>
                        <div id="price" class="panel-collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- BEGIN EXAMPLE TABLE PORTLET-->

                                        <div class="portlet-body">
                                            <!-- END SIDEBAR TOGGLER BUTTON -->
                                            <table class="table table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content">
                                                <tr class="">
                                                    <th><h5><strong>User Name</strong></h5></th>
                                                    <th style="text-align: center"><h5><strong>Quantity</strong>
                                                    </h5></th>
                                                    <th style="text-align: center"><h5><strong>Date</strong></h5>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr dir-paginate="stock in vm.stockHistory|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                                                    total-items="vm.totalItems" current-page="vm.currentPage">
                                                    <td>{{stock.name}}</td>
                                                    <td style="text-align: center">{{stock.quantity}}</a></td>
                                                    <td style="text-align: center">{{stock.date}}</a></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="pull-right" style="margin-top: 5%">
                                            <div class="tab-pane active">
                                                <ul class="pagination">
                                                    <dir-pagination-controls
                                                            on-page-change="vm.getProducts()"></dir-pagination-controls>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                               data-parent="#product" data-target="#info"> <strong>Product sales
                                information</strong></a>
                        </h4>
                    </div>
                    <div id="info" class="panel-collapse collapse">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <h4 style="text-align: center;padding-top: 20px"
                                    ng-if="vm.product.sales.data.length ==0"> It seems like there is no
                                    sales record for this Product</h4>

                                <div class="portlet-body">
                                    <!-- END SIDEBAR TOGGLER BUTTON -->
                                    <table ng-if="vm.product.sales.data.length > 0"
                                           class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                        <tr class="">
                                            <th><h5><strong>User Who Sold the product</strong></h5></th>
                                            <th style="text-align: center"><h5><strong>Quantity sold</strong></h5>
                                            </th>
                                            <th style="text-align: center"><h5><strong>Sub Price</strong></h5>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr dir-paginate="sales in vm.sales|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                                            total-items="vm.totalItems" current-page="vm.currentPage">
                                            <td>{{sales.user_name}}</td>
                                            <td style="text-align: center">{{sales.quantity}}</a></td>
                                            <td style="text-align: center">{{sales.sub_price|number:2}} ETB</a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="pull-right" style="margin-top: 5%">
                                    <div class="tab-pane active">
                                        <ul class="pagination">
                                            <dir-pagination-controls
                                                    on-page-change="vm.getProducts()"></dir-pagination-controls>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                           data-parent="#product" data-target="#stock"><strong>Product Price
                            History</strong></a>
                    </h4>
                </div>
                <div id="stock" class="panel-collapse collapse">
                    <div class="panel-body" style="height:200px; overflow-y:auto;">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <div class="actions pull-right">
                                    <a ui-sref="main.products.addPrice({productId:vm.product.product.id})"
                                       class="btn btn-primary btn-sm">
                                        <i class="fa fa-plus"></i> Update Price</a>
                                </div>
                                <div class="portlet-body">
                                    <!-- END SIDEBAR TOGGLER BUTTON -->
                                    <table class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                        <tr class="">
                                            <th><h5><strong>User who updated price</strong></h5></th>
                                            <th style="text-align: center"><h5><strong>Date of update</strong></h5>
                                            </th>
                                            <th style="text-align: center"><h5><strong>Price</strong></h5></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr dir-paginate="price in vm.prices|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                                            total-items="vm.totalItems" current-page="vm.currentPage">
                                            <td>{{price.user_name}}</td>
                                            <td style="text-align: center">
                                                {{price.date|date:'mediumDate'}}</a></td>
                                            <td style="text-align: center">{{price.price|number:2}} ETB</a></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="pull-right" style="margin-top: 5%">
                                    <div class="tab-pane active">
                                        <ul class="pagination">
                                            <dir-pagination-controls
                                                    on-page-change="vm.getProducts()"></dir-pagination-controls>
                                        </ul>
                                    </div>
                                </div>

                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END ACCORDION PORTLET-->
</div>
</div>
</div>