<div class="portlet-body form">
    <form class="form-horizontal" role="form" name="productForm">
        <div class="row" style="padding-top: 5%">
            <div class="col-lg-6">

                <!--product type-->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productType.$touched && productForm.productType.$invalid}">
                    <label class="col-md-3 control-label">Product Type :</label>

                    <div class="col-md-9">
                        <select name="productType" type="text" required=""
                                class="form-control input-inline input-large"
                                ng-model="vm.productData.product.type_id"
                                placeholder="Enter Product Type">
                            <option ng-value="type.id" ng-repeat="type in vm.types">{{type.name}}</option>
                        </select>
                    </div>
                </div>
                <!--product type-->

                <!--name-->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productName.$touched && productForm.productName.$invalid}">
                    <label class="col-md-3 control-label">Name :</label>

                    <div class="col-md-9">
                        <input name="productName" type="text" required="" ng-pattern=""
                               class="form-control input-inline input-large" ng-model="vm.productData.product.name"
                               placeholder="Enter Product Name">
                    </div>
                </div>
                <!--name-->

                <!--code-->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productCode.$touched && productForm.productCode.$invalid}">
                    <label class="col-md-3 control-label">Code :</label>

                    <div class="col-md-9">
                        <input name="productCode" type="text" required="" class="form-control input-inline input-large"
                               ng-model="vm.productData.product.code"
                               placeholder="Enter Product Code">
                    </div>
                </div>
                <!--code-->

                <!--unit price -->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productUnitPrice.$touched && productForm.productUnitPrice.$invalid}">
                    <label class="col-md-3 control-label">Unit price :</label>

                    <div class="col-md-9">
                        <input name="productUnitPrice" type="number"  required=""
                               class="form-control input-inline input-large"
                               ng-model="vm.productData.product.unit_price"
                               ng-currency currency-symbol="ETB "
                               placeholder="Enter Unit price">
                    </div>
                </div>
                <!--unit price -->
            </div>
            <div class="col-lg-6">


                <!--quantity-->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productQuantity.$touched && productForm.productQuantity.$invalid}">
                    <label class="col-md-3 control-label">Quantity :</label>

                    <div class="col-md-4">
                        <input name="productQuantity" type="number" required=""
                               class="form-control input-inline input-large" ng-model="vm.productData.product.quantity"
                               placeholder="Enter product quantity ">
                    </div>
                    <!--Unit-->
                    <div class="col-sm-2" ng-class="{'has-error':productForm.unit.$touched && productForm.unit.$invalid}">
                        <select name="unit" type="text" required=""
                                class="form-control input-inline input-small"
                                ng-model="vm.productData.product.uom_id">
                            <option ng-value="unit.id" ng-repeat="unit in vm.units">{{unit.name}}</option>
                        </select>
                    </div>
                    <!--End Unit-->
                </div>
                <!--end quantity-->

                <!--description-->
                <div class="form-group required"
                     ng-class="{'has-error':productForm.productDescriptions.$touched && productForm.productDescriptions.$invalid}">
                    <label class="col-md-3 control-label">Descriptions :</label>

                    <div class="col-md-9">
                    <textarea name="productDescriptions" required="" class="form-control input-inline input-large"
                              ng-model="vm.productData.product.detail" rows="7"
                              placeholder="Enter Descriptions"></textarea>
                    </div>
                </div>
                <!--end description-->

            </div>
        </div>
        <div class="row">
            <div class="form-actions right ">
                <button type="button" ng-click="vm.cancel()" class="btn default">Cancel</button>
                <button ng-if="!vm.update" type="submit" class="addProduct btn green"
                        ng-click="vm.postProduct()"
                        ng-disabled="(productForm.$invalid||vm.disableSubmitButton)">Save
                </button>
                <button ng-if="vm.update" type="submit" class="updateProduct btn green" ng-disabled="(productForm.$invalid||vm.disableSubmitButton)"
                        ng-click="vm.updateProduct()">Update
                </button>
            </div>
        </div>
    </form>
</div>


