<div class="row" style="margin: 10px;margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-building"></i>{{L.productsList}}
                    </div>
                    <div class="actions">
                        <a ng-show="authService.checkPermission('product-create')"  ui-sref="main.products.add" class="btn btn-primary btn-lg">
                            <i class="fa fa-plus"  tooltips tooltip-side="top" tooltip-size="small"
                               tooltip-template="Add new products" ></i>{{L.addProducts}} <!--Add Product --></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <ui-view>

                    </ui-view>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
        </div>
    </div>
</div>