<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                <div class="col-sm-3 col-sm-offset-9">
                    <form class="sidebar-search">
                        <a class="remove"></a>

                        <div class="input-group">
                            <input name="search" ng-change="vm.SearchType('&search='+query)"
                                   type="text" class="form-control" placeholder="Search..."
                                   ng-model="query">
                                            <span class="input-group-btn">
                                                <a class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </span>
                        </div>
                    </form>
                </div>
                <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                    <tr class="">
                        <th style="text-align: center"><h5><strong>Service Code</strong></h5></th>
                        <th style="text-align: center"><h5><strong>Service Name</strong></h5></th>
                        <th style="text-align: center"><h5><strong>Service Status</strong></h5></th>
                        <th style="text-align: center"><h5><strong>Actions</strong></h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="service in vm.services|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                        total-items="vm.totalItems" current-page="vm.currentPage">
                        <td style="text-align: center"><a ng-show="authService.checkPermission('service-detail')"
                                                          ui-sref="main.services.detail({serviceId:service.id})">{{service.code}}</a>
                        </td>
                        <td style="text-align: center"><a ng-show="authService.checkPermission('service-detail')"
                                                          ui-sref="main.services.detail({serviceId:service.id})">{{service.name}}</a>
                        </td>
                        <td style="text-align: center">
                            <a ng-show="authService.checkPermission('service-status')">
                            <span ng-if="service.status === 'available'"
                                  class="label label-sm btn btn-info">Available </span>
                            <span ng-if="service.status === 'Not available'"
                                  class="label label-sm btn btn-warning">Not available </span>
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a ng-show="authService.checkPermission('service-edit')"
                               class="btn btn-circle btn-icon-only btn-default"
                               ui-sref="main.services.update({serviceId:service.id})">
                                <i class="fa fa-edit"></i></a>
                            <a ng-if="service.status === 'available'" class="btn btn-circle btn-icon-only btn-default"
                               tooltips tooltip-side="top" tooltip-size="small"
                               tooltip-template="Disable Product"
                               ng-click="vm.updateStatus(service.id,'Not available')">
                                <i class="fa fa-download"></i></a>
                            <a ng-if="service.status !== 'available'" class="btn btn-circle btn-icon-only btn-default"
                               tooltips tooltip-side="top" tooltip-size="small"
                               tooltip-template="Enable Product" ng-click="vm.updateStatus(service.id,'available')">
                                <i class="fa fa-upload"></i></a>
                            <a ng-show="authService.checkPermission('service-delete')"
                               class="btn btn-circle btn-icon-only btn-default"
                               ng-click="confirmationModal('ServicesListCtrl',service.id)">
                                <i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pull-right" style="margin-top: 5%">
                <div class="tab-pane active">
                    <ul class="pagination">
                        <dir-pagination-controls on-page-change="vm.getServices()"></dir-pagination-controls>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

