<div class="portlet-body form">
    <form class="form-horizontal" role="form" name="serviceForm">
        <div class="row" style="padding-top: 5%">
            <div class="col-lg-6">

                <!--Service name-->
                <div class="form-group required"
                     ng-class="{'has-error':serviceForm.serviceType.$touched && serviceForm.serviceType.$invalid}">
                    <label class="col-md-3 control-label">{{L.serviceType}} :</label>

                    <div class="col-md-9">
                        <select name="serviceType" class="form-control input-inline input-large"
                                ng-model="vm.serviceData.type_id" >
                            <option ng-value="services.id" ng-repeat="services in vm.services">{{services.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <!--Service name-->

                <!--Service Name-->
                <div class="form-group required"
                     ng-class="{'has-error':serviceForm.serviceName.$touched && serviceForm.serviceName.$invalid}">
                    <label class="col-md-3 control-label">{{L.serviceName}} :</label>

                    <div class="col-md-9">
                        <input type="text" required class="form-control input-inline input-large"
                               ng-model="vm.serviceData.name" name="serviceName"
                               placeholder="Enter Service Type">
                    </div>
                </div>
                <!--Service Name-->

                <!--Service Code-->
                <div class="form-group required"
                     ng-class="{'has-error':serviceForm.serviceCode.$touched && serviceForm.serviceCode.$invalid}">
                    <label class="col-md-3 control-label">Code :</label>

                    <div class="col-md-9">
                        <input type="text" required="" class="form-control input-inline input-large"
                               ng-model="vm.serviceData.code" name="serviceCode" placeholder="Enter Code">
                    </div>
                </div>
                <!--Service Code-->

                <!--Unit Price-->
                <div class="form-group required"
                     ng-class="{'has-error':serviceForm.serviceUnitPrice.$touched && serviceForm.serviceUnitPrice.$invalid}">
                    <label class="col-md-3 control-label">Unit Price :</label>

                    <div class="col-md-9">
                        <input type="text" required="" class="form-control input-inline input-large"
                               ng-model="vm.serviceData.unit_price"
                               name="serviceUnitPrice"
                               ng-currency currency-symbol="ETB "
                               placeholder="Enter Unit Price">
                    </div>
                </div>
                <!--Service Code-->

            </div>
            <div class="col-lg-6">

                <!--Service Description-->
                <div class="form-group required"
                     ng-class="{'has-error':serviceForm.serviceDescription.$touched && serviceForm.serviceDescription.$invalid}">
                    <label class="col-md-3 control-label">Descriptions :</label>

                    <div class="col-md-9">
                        <textarea required="" class="form-control input-inline input-large" rows="7"
                                  ng-model="vm.serviceData.detail" name="serviceDescription"></textarea>
                    </div>
                </div>
                <!--Service Description-->

            </div>
        </div>
        <div class="row">
            <div class="form-actions right ">
                <button type="button" ng-click="vm.cancel()" class="btn default">Cancel</button>
                <button ng-if="!vm.update" type="submit" class="addService btn green" ng-disabled="serviceForm.$invalid"
                        ng-click="vm.postServices()">
                    Save
                </button>
                <button ng-if="vm.update" type="submit" class="updateService btn green" ng-disabled="serviceForm.$invalid"
                        ng-click="vm.updateService()">
                    Update
                </button>

            </div>
        </div>
    </form>
</div>