<div class="portlet light ">
    <div class="row">
        <div class="col-lg-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <h2>{{vm.service.name}}</h2>
                </div>
                <div class="portlet-body">
                    <div class="note note-success">
                        <table class="table table-stripped">
                            <tr>
                                <td><strong>service code:</strong></td>
                                <td>{{vm.service.code}}</td>
                            </tr>
                            <tr>
                                <td><strong>service type:</strong></td>
                                <td>{{vm.service.service_type}}</td>
                            </tr>
                            <tr>
                                <td><strong>service status:</strong></td>
                                <td>{{vm.service.status}}</td>
                            </tr>
                            <tr>
                                <td><strong>service price:</strong></td>
                                <td>{{vm.service.Latest_price|number:2}} ETB</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <div class="portlet light bordered">
                    <h4>Service Description</h4>

                    <p ng-bind="vm.service.detail"></p>
                </div>

            </div>
        </div>
        <div class="row col-lg-12">
            <!-- BEGIN ACCORDION PORTLET-->
            <div class="portlet-body">
                <div class="panel-group accordion" id="product">

                    <!--Service Price History-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                                   data-parent="#product" data-target="#stock"><strong>Service Price
                                    History</strong></a>
                            </h4>
                        </div>
                        <div id="stock" class="panel-collapse in">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div style="padding: 10px" class="actions pull-right">
                                        <a ng-show="authService.checkPermission('price-create')" ui-sref="main.services.addPrice({serviceId:vm.service.id})"
                                           class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i> Add Price</a>
                                    </div>
                                    <h4 style="text-align: center;padding-top: 20px" ng-if="vm.service.prices.data.length ==0"> It seems like there is no
                                        price record for this service</h4>
                                    <table ng-if="vm.service.prices.data.length > 0" class="table table-bordered table-striped table-condensed flip-content">
                                        <thead class="flip-content">
                                        <tr class="">
                                            <th style="text-align: center"><h5><strong>User who updated price</strong></h5></th>
                                            <th style="text-align: center"><h5><strong>Date</strong></h5></th>
                                            <th style="text-align: center"><h5><strong>Price</strong></h5></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr dir-paginate="price in  vm.service.prices.data|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                                            total-items="vm.totalItems" current-page="vm.currentPage">
                                            <td style="text-align: center">{{price.user_name}}</td>
                                            <td style="text-align: center">{{price.date|date:'mediumDate'}}</a></td>
                                            <td style="text-align: center">{{price.price|number:2}} ETB</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="pull-right" style="margin-top: 5%">
                                        <div class="tab-pane active">
                                            <ul class="pagination">
                                                <dir-pagination-controls
                                                        on-page-change="vm.getService()"></dir-pagination-controls>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--Service Price History-->
                <!--Service sales information-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse"
                               data-parent="#product" data-target="#info"> <strong>Service sales
                                information</strong></a>
                        </h4>
                    </div>
                    <div id="info" class="panel-collapse collapse">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="text-align: center;padding-top: 20px" ng-if="vm.service.sales.data.length ==0"> It seems like there is no
                                    sales record for this service</h4>
                                <table ng-if="vm.service.sales.data.length > 0"
                                       class="table table-bordered table-striped table-condensed flip-content">
                                    <thead class="flip-content">
                                    <tr class="">
                                        <th><h5><strong>User who updated sales record</strong></h5></th>
                                        <th style="text-align: center"><h5><strong>Quantity</strong>
                                        </h5></th>
                                        <th style="text-align: center"><h5><strong>Sub Price</strong>
                                        </h5></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="sale in  vm.service.sales.data|itemsPerPage: vm.itemsPerPage| filter:query | orderBy:sortField:reverse"
                                        total-items="vm.totalItems" current-page="vm.currentPage">
                                        <td style="text-align: center">{{sale.user_name}}</td>
                                        <td style="text-align: center">{{sale.quantity}}</a></td>
                                        <td style="text-align: center">{{sale.sub_price|number:2}} ETB</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="pull-right" style="margin-top: 5%">
                                    <div class="tab-pane active">
                                        <ul class="pagination">
                                            <dir-pagination-controls
                                                    on-page-change="vm.getService()"></dir-pagination-controls>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>
            </div>
            <!--Service sales information-->

        </div>
    </div>
    <!-- END ACCORDION PORTLET-->
</div>
