<form name="roleAddForm" class="form-horizontal">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <fieldset class="content-group">
                    <!--User Name-->
                    <div class="form-group">
                        <label class="control-label">User Name</label>
                        <input disabled name="userName" ng-model="vm.user.name" type="text"
                               class="form-control input-medium">
                    </div>
                    <!-- User Name-->
                </fieldset>
            </div>
            <div class="col-md-6">
                <label class="control-label">Assign Roles</label>
                <div class="checkbox" ng-repeat="roles in vm.roles">
                    <label>
                        <input type="checkbox" ng-model="roles.isChecked"
                               class="control-primary"
                               name="isChecked"
                                data-value="roles.id">
                        {{roles.display_name}}
                    </label>
                </div>
            </div>

        </div>
        <div class="text-right">
            <button ng-click="vm.assignRoles()" class="assignRole btn btn-primary" ng-disabled="roleAddForm.$invalid">Assign Roles<i
                    class=""></i></button>
        </div>
    </div>
</form>