<form name="newRoleAddForm" class="form-horizontal">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="content-group">
                    <!--User Name-->
                    <div class="form-group">
                        <label class="control-label">Role Name</label>
                        <input name="roleName" ng-model="vm.role.name" type="text"
                               class="form-control input-medium">
                    </div>
                    <!--End User Name-->
                    <!--Display Name-->
                    <div class="form-group">
                        <label class="control-label">Display Name</label>
                        <input name="displayName" ng-model="vm.role.display_name" type="text"
                               class="form-control input-medium">
                    </div>
                    <!--End Display Name-->
                </fieldset>
            </div>
            <div class="col-md-6" style="    height: 300px;overflow-y: auto;padding-Left: 20PX;">
                <label class="control-label">Assign Permission</label>

                <div class="checkbox" ng-repeat="permission in vm.permission">
                    <label>
                        <input type="checkbox" ng-model="permission.isChecked"
                               class="control-primary"
                               name="isChecked"
                               data-value="permission.id">
                        {{permission.display_name}}
                    </label>
                </div>
            </div>

        </div>
        <div class="text-right">

            <button type="button" ng-click="vm.cancel()" class="btn default">Cancel</button>
            <button ng-if="!vm.roleUpdate" ng-click="vm.postRole()" class="addRole btn btn-primary"
                    ng-disabled="roleAddForm.$invalid">Add Role<i
                    class=""></i></button>
            <button ng-if="vm.roleUpdate" ng-click="vm.updateRole(vm.role.id)" class="updateRole btn btn-primary"
                    ng-disabled="roleAddForm.$invalid">Update Role<i
                    class=""></i></button>
        </div>
    </div>
</form>