<div class="row" style="margin: 10px;margin-top: 20px;">
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN Portlet PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-building"></i>{{stateName}}
                    </div>
                    <div class="actions">
                        <a ui-sref="main.roles.add" class="btn btn-primary btn-lg">
                            <i class="fa fa-plus"></i> Add Role</a>
                    </div>
                </div>
                <div class="portlet-body">
                    <ui-view>

                    </ui-view>
                </div>
                <!-- END Portlet PORTLET-->
            </div>
        </div>
    </div>
</div>