<!--panel body-->
<div class="panel-body">
    <div class="table-responsive">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <div class="col-sm-3 col-sm-offset-9">
            <form class="sidebar-search">
                <a class="remove">
                </a>

                <div class="input-group">
                    <input name="search" ng-change="vm.SearchType('&search='+query)" ng-model="query"
                           type="text" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <a class="btn submit">
                                                    <i class="icon-magnifier"></i>
                                                </a>
                                            </span>
                </div>
            </form>
        </div>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->

        <table class="table table-striped table-hover">
            <thead>
            <th ><strong>Role Name</strong></th>
            <th><strong>Display Name</strong></th>
            <th ><strong>Permissions</strong></th>
            <th ><strong>Action</strong></th>
            </thead>
            <tbody>
            <tr dir-paginate="roles in vm.roles | itemsPerPage: vm.itemsPerPage | filter:query | orderBy:sortField:reverse"
                total-items="vm.totalItems" current-page="vm.currentPage">
                <td>{{roles.name}}</td>
                <td >{{roles.display_name}}</td>
                <td >{{roles.display_name}}</td>
                <td> <a class="btn btn-circle btn-icon-only btn-default" ui-sref="main.roles.update({roleId:roles.id})">
                    <i class="fa fa-edit"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <ul class="pagination pagination-separated pagination-rounded">
        <dir-pagination-controls on-page-change="vm.getUsers()"></dir-pagination-controls>
    </ul>

</div>
<!--panel body-->