<!DOCTYPE html>
<html lang="en-US" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Hospital bill management web app</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="Yokida Consult" content="Yokida Consult">
    <link rel="shortcut icon" href="favicon.ico"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->


    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="assets/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css"/>
    <link href="assets/css/components.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/plugins.min.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="assets/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="assets/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/coming-soon.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/login.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../node_modules/pnotify/dist/pnotify.css">
    <link rel="stylesheet" href="../node_modules/pnotify/dist/pnotify.buttons.css">
    <link rel="stylesheet" href="../node_modules/angular-nvd3/node_modules/nvd3/build/nv.d3.min.css">
    <link href="../node_modules/c3/c3.min.css" rel="stylesheet" type="text/css"/>
    <link href="../node_modules/angular-tooltips/dist/angular-tooltips.min.css" rel="stylesheet" type="text/css"/>
    <link href="../node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../node_modules/angular-ladda/node_modules/ladda/css/ladda-themed.scss">
    <!-- END THEME LAYOUT STYLES -->

</head>

<body class="page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-content-white login">

<div ng-if="currentState != 'login'">
<div class="page-wrapper">

<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">

    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="logo" class="logo-default"/> </a>

            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>
        <!-- END LOGO -->

        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
            <span></span>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a style="color: white" class="dropdown-toggle">
                        {{currentUser.name}}
                    </a>
                </li>
                 <li class="dropdown dropdown-quick-sidebar-toggler">
                     <a  class="dropdown-toggle">
                         <select name="lang" class="input-inline input-small" ng-model="lang" ng-change="getLanguage(lang)">
                             <option value="en-US"> English </option>
                             <option value="am-ET"> አማርኛ </option>
                         </select>
                     </a>
                 </li>
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a style="color: white" ng-click="logout()" class="dropdown-toggle">
                        Logout <i class="icon-logout"></i>
                    </a>
                </li>
                <!-- END QUICK SIDEBAR TOGGLER -->

            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->

</div>
<!-- END HEADER -->

<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"></div>
<!-- END HEADER & CONTENT DIVIDER -->

<!-- BEGIN CONTAINER -->
<div class="page-container" style="background-color: #364150;">

    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">

        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar navbar-collapse collapse">

            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="100" style="padding-top: 20px">

                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>

                <!-- END SIDEBAR TOGGLER BUTTON -->
                <li class="sidebar-search-wrapper">

                <li class="sidebar-search-wrapper">
                </li>
                <li class="nav-item start" ng-class="{active:(currentState == 'main.home')}">
                    <a ui-sref="main.home" class="nav-link">
                        <i class="fa fa-home"></i>
                        <span class="title" >{{L.Dashboard}}</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="heading">
                    <h3 class="uppercase">
                        <hr>
                    </h3>
                </li>
                <li class="nav-item " ng-class="{active:(currentState == 'main.services.list')}">
                    <a ng-show="authService.checkPermission('service-list')" ui-sref="main.services.list"
                       class="nav-link nav-toggle">
                        <i class="fa fa-building"></i>
                        <span class="title" >{{L.Services}}</span>
                    </a>
                </li>
                <li class="nav-item " ng-class="{active:(currentState == 'main.products.list')}">
                    <a ng-show="authService.checkPermission('product-list')" ui-sref="main.products.list"
                       class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title" >{{L.Products}}</span>
                    </a>
                </li>
                <li class="nav-item " ng-class="{active:(currentState == 'main.sales.list')}">
                    <a ng-show="authService.checkPermission('sale-list')" ui-sref="main.sales.list"
                       class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title" >{{L.Sales}}</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a ng-show="authService.checkPermission('sale-list')" ui-sref="main.sales.list" class="nav-link ">
                                <span class="title" >{{L.salesList}}<!--Sales List--></span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a ng-show="authService.checkPermission('sale-list')" ui-sref="main.sales.add" class="nav-link ">
                                <span class="title" >{{L.makeSales}}<!--Make Sales--> </span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item " ng-class="{active:(currentState == 'main.configuration.list')}">
                    <a ng-show="authService.checkPermission('type-list')" ui-sref="main.configuration.list"
                       class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title" >{{L.Configuration}}</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item " ng-class="{active:(currentState == 'main.users.list')}">
                    <a ng-show="authService.checkPermission('user-list')" ui-sref="main.users.list" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title" >{{L.Users}}</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a ng-show="authService.checkPermission('user-list')" ui-sref="main.users.list" class="nav-link ">
                                <span class="title" >{{L.usersList}}<!--Users List--></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a ng-show="authService.checkPermission('user-create')" ui-sref="main.users.add" class="nav-link ">
                                <span class="title" >{{L.usersAdd}}<!--Users Add--> </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a ng-show="authService.checkPermission('role-list')" ui-sref="main.roles.list" class="nav-link ">
                                <span class="title" >{{L.usersRoles}}<!--Users Roles--> </span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->

        </div>
        <!-- END SIDEBAR -->

    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">

        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <ui-view autoscroll>

            </ui-view>
        </div>
        <!-- END CONTENT BODY -->

    </div>
    <!-- END CONTENT -->

    <!-- BEGIN QUICK SIDEBAR -->
    <a ng-click="logout()" class="page-quick-sidebar-toggler">
        <i class="icon-login">Logout</i>
    </a>
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="page-footer ">
    <div class="page-footer-inner"> 2017 &copy; Hospital bill management web app
        <a target="_blank" href="http://yokidaconsult.com">Yokida Consult</a> &nbsp;|&nbsp;
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->

</div>
</div>
<div ng-if="currentState == 'login'">
    <ui-view>

    </ui-view>
</div>
</body>


<!-- BEGIN CORE PLUGINS -->
<script src="assets/js/loaders/progressbar.min.js"></script>
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/js.cookie.min.js" type="text/javascript"></script>
<script src="assets/js/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="assets/js/moment.min.js" type="text/javascript"></script>
<script src="assets/js/countdown/jquery.countdown.min.js" type="text/javascript"></script>
<script src="assets/js/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script src="assets/css/bootstrap-table/bootstrap-table.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="assets/js/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="assets/js/table-bootstrap.js" type="text/javascript"></script>
<script src="assets/js/layout.min.js" type="text/javascript"></script>
<script src="assets/js/demo.min.js" type="text/javascript"></script>
<script src="assets/js/quick-sidebar.min.js" type="text/javascript"></script>
<script src="assets/js/quick-nav.min.js" type="text/javascript"></script>

<!-- END THEME LAYOUT SCRIPTS -->


<!--APP VENDOR SCRIPTS-->
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/c3/c3.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/moment/min/moment.min.js"></script>
<script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
<script src="../node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script src="../node_modules/angular-utils-pagination/dirPagination.js"></script>
<script src="../node_modules/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.js"></script>
<script src="../node_modules/lodash/lodash.min.js"></script>
<script src="../node_modules/restangular/dist/restangular.min.js"></script>
<script src="../node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="../node_modules/textangular/dist/textAngular-rangy.min.js"></script>
<script src="../node_modules/textangular/dist/textAngular-sanitize.min.js"></script>
<script src="../node_modules/textangular/dist/textAngular.min.js"></script>
<script src="../node_modules/angular-switcher/dist/angular-switcher.min.js" defer></script>
<script src="../node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../node_modules/highcharts/highcharts.src.js"></script>
<script src="../node_modules/highcharts-ng/dist/highcharts-ng.js"></script>
<script src="../node_modules/pnotify/dist/pnotify.js"></script>
<script src="../node_modules/pnotify/dist/pnotify.confirm.js"></script>
<script src="../node_modules/pnotify/dist/pnotify.buttons.js"></script>
<script src="../node_modules/angular-pnotify/src/angular-pnotify.js"></script>
<script src="../node_modules/ng-currency/dist/ng-currency.js"></script>
<script src="../node_modules/angular-nvd3/node_modules/d3/d3.js"></script>
<script src="../node_modules/angular-nvd3/node_modules/nvd3/build/nv.d3.min.js"></script>
<script src="../node_modules/angular-nvd3/dist/angular-nvd3.min.js"></script>
<script src="../node_modules/c3-angular/c3-angular.min.js"></script>
<script src="../node_modules/angular-tooltips/dist/angular-tooltips.min.js"></script>
<script src="../node_modules/angular-messages/angular-messages.js"></script>
<script src="../node_modules/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../node_modules/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>
<script src="../node_modules/chart.js/dist/Chart.min.js"></script>
<script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<script src="../node_modules/angular-ladda/node_modules/ladda/js/spin.js"></script>
<script src="../node_modules/angular-ladda/node_modules/ladda/js/ladda.js"></script>
<script src="../node_modules/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="../node_modules/angular-translate/dist/angular-translate.min.js"></script>
<!--angular-cookies.js-->

<!--<script src="../node_modules/angular-cookies/angular-cookies.js"></script>
<script src="../node_modules/angular-resource/angular-resource.js"></script>-->

<!--angular-cookies.js-->

<!--APP VENDOR SCRIPTS-->

<!--App SCRIPTS-->

<!--app module-->
<script type="text/javascript" src="app/app.module.js"></script>
<!--app module-->

<!--core.module-->
<script type="text/javascript" src="app/core/core.module.js"></script>
<script type="text/javascript" src="app/core/core.ctrl.js"></script>
<script type="text/javascript" src="app/core/config.route.js"></script>
<script type="text/javascript" src="app/core/core.service.js"></script>
<!--
<script type="text/javascript" src="app/core/config.lang.js"></script>
-->
<!--core.module-->

<!--auth.module-->
<script type="text/javascript" src="app/auth/auth.module.js"></script>
<script type="text/javascript" src="app/auth/config.route.js"></script>
<script type="text/javascript" src="app/auth/auth.ctrl.js"></script>
<script type="text/javascript" src="app/auth/auth.service.js"></script>
<!--auth.module-->

<!--home.module-->
<script type="text/javascript" src="app/home/home.module.js"></script>
<script type="text/javascript" src="app/home/config.route.js"></script>
<script type="text/javascript" src="app/home/home.ctrl.js"></script>
<script type="text/javascript" src="app/home/aboutUs.ctrl.js"></script>
<script type="text/javascript" src="app/home/home.service.js"></script>
<!--home.module-->

<!--services.module-->
<script type="text/javascript" src="app/services/services.module.js"></script>
<script type="text/javascript" src="app/services/config.route.js"></script>
<script type="text/javascript" src="app/services/service.service.js"></script>
<script type="text/javascript" src="app/services/services.ctrl.js"></script>
<script type="text/javascript" src="app/services/services.list.ctrl.js"></script>
<script type="text/javascript" src="app/services/services.add.ctrl.js"></script>
<script type="text/javascript" src="app/services/service.detail.ctrl.js"></script>
<script type="text/javascript" src="app/services/service.addPrice.ctrl.js"></script>


<!--services.module-->

<!--sales.module-->
<script type="text/javascript" src="app/sales/sales.module.js"></script>
<script type="text/javascript" src="app/sales/config.route.js"></script>
<script type="text/javascript" src="app/sales/sales.ctrl.js"></script>
<script type="text/javascript" src="app/sales/sales.list.ctrl.js"></script>
<script type="text/javascript" src="app/sales/sales.add.ctrl.js"></script>
<script type="text/javascript" src="app/sales/sales.detail.ctrl.js"></script>
<script type="text/javascript" src="app/sales/sales.service.js"></script>
<!--sales.module-->

<!-- products.module -->
<script type="text/javascript" src="app/products/products.module.js"></script>
<script type="text/javascript" src="app/products/config.route.js"></script>
<script type="text/javascript" src="app/products/products.ctrl.js"></script>
<script type="text/javascript" src="app/products/products.list.ctrl.js"></script>
<script type="text/javascript" src="app/products/products.add.ctrl.js"></script>
<script type="text/javascript" src="app/products/products.service.js"></script>
<script type="text/javascript" src="app/products/products.detail.ctrl.js"></script>
<script type="text/javascript" src="app/products/products.addPrice.ctrl.js"></script>
<!-- products.module -->
<!-- Configuration.module -->
<script type="text/javascript" src="app/configuration/configuration.module.js"></script>
<script type="text/javascript" src="app/configuration/config.route.js"></script>
<script type="text/javascript" src="app/configuration/configuration.ctrl.js"></script>
<script type="text/javascript" src="app/configuration/configuration.list.ctrl.js"></script>
<script type="text/javascript" src="app/configuration/configuration.add.ctrl.js"></script>
<script type="text/javascript" src="app/configuration/configuration.service.js"></script>

<!-- Configuration.module -->
<!-- Users.module -->
<script type="text/javascript" src="app/users/users.module.js"></script>
<script type="text/javascript" src="app/users/config.route.js"></script>
<script type="text/javascript" src="app/users/users.ctrl.js"></script>
<script type="text/javascript" src="app/users/users.list.ctrl.js"></script>
<script type="text/javascript" src="app/users/user.add.ctrl.js"></script>
<script type="text/javascript" src="app/users/users.service.js"></script>
<script type="text/javascript" src="app/users/users.detail.ctrl.js"></script>
<!-- Users.module -->
<!--Roles.module -->
<script type="text/javascript" src="app/roles/roles.module.js"></script>
<script type="text/javascript" src="app/roles/config.route.js"></script>
<script type="text/javascript" src="app/roles/roles.ctrl.js"></script>
<script type="text/javascript" src="app/roles/role.add.ctrl.js"></script>
<script type="text/javascript" src="app/roles/roles.list.ctrl.js"></script>
<script type="text/javascript" src="app/roles/roles.service.js"></script>

<!--Roles.module -->
<!--'Translation.module'-->

<!--<script type="text/javascript" src="app/translation/translation.module.js"></script>
<script type="text/javascript" src="app/translation/config.route.js"></script>
<script type="text/javascript" src="app/translation/translation.ctrl.js"></script>
<script type="text/javascript" src="app/translation/translation.service.js"></script>-->

<!--'Translation.module'-->
<!--App SCRIPTS-->

</html>