<div class="row">
    <div class="col-md-offset-1 col-md-8">
        <h2>About Us</h2>
        <p>
            {{x}}
        </p>
        <p>
            This is from main controller {{l}}
        </p>
        <div class="table table-responsive">
            <table class="table table-responsive table-hover">
                <thead>
                <th>
                    No.
                </th>
                <th>
                    Name
                </th>
                <th>
                    Sex
                </th>
                <th>
                    phone no.
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="student in vm.students track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.sex}}</td>
                    <td>{{student.phone}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <form>
            <div class="form-group">
                <label class="">
                    Name
                </label>
                <input class="form-control" placeholder="name" ng-model="vm.teacher.subscriper.name" type="text">
            </div>
            <div class="form-group">
                <label class="">
                    Phone
                </label>
                <input class="form-control" placeholder="phone" ng-model="vm.teacher.subscriper." type="text">
            </div>
            <button class="btn btn-default" ng-click="vm.postTeacher(vm.teacher)" ></button>
        </form>
    </div>
</div>