<!--admin dashboard-->
<div class="row" ng-show="authService.checkPermission('admin-dashboard')">
    <div class="col-lg-12">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" ng-bind="vm.dashboard.totalProduct"></span>
                    </div>
                    <div class="desc">{{L.productTotal}} <!--Products in total--></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5" ng-bind="vm.dashboard.totalService"></span>
                    </div>
                    <div class="desc">{{L.serviceTotal}}<!-- Services in total--></div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span style="font-size: 22px" data-counter="counterup" data-value="549" ng-bind="vm.dashboard.totalSalePrice|number:2">ETB</span>
                    </div>
                    <div class="desc">{{L.salesTotal}}</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="89" ng-bind="vm.dashboard.totalNumberOfSale"></span>
                    </div>
                    <div class="desc"> {{L.totalNoOfItemSold}}</div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <h4 style="text-align: center"><strong>Products Vs Services Sales Number Breakdown</strong></h4>

                        <div>
                            <nvd3 options='vm.pieChart' data='vm.countGraph'></nvd3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="form-group">
                        </div>
                        <h4 style="text-align: center"><strong>Products Vs Services Sales Breakdown in ETB</strong></h4>

                        <div>
                            <nvd3 options='vm.pieChart' data='vm.profitGraph'></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row ">
                        <div class="col-lg-6 form-group">
                            <div class="col-sm-4" style="text-align: right">
                                <label><strong>Choose TimeFrame</strong></label>
                            </div>
                            <div class="col-sm-8" style="text-align: left;padding: 0px">
                                <div class="col-lg-6" style="padding: 0px">
                                    <input date-range-picker class="form-control date-picker" name="timeRange"
                                           type="text"
                                           ng-model="vm.dashboardCalender_1.date" required/>
                                </div>
                                <div class="col-sm-4" style="margin: 0;padding: 0px">
                                    <div class="col-sm-8">
                                        <select name="productType" type="text" required=""
                                                ng-model="vm.filterType" class="form-control input-inline input-small">
                                            <option value="Day">Day</option>
                                            <option value="Month">Month</option>
                                            <option value="Year">Year</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-primary"
                                                ng-click="vm.getUsersSalesGraph(vm.dashboardCalender_1.date,vm.filterType)">
                                            <i
                                                    class="fa fa-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 style="text-align: center"><strong>Products Sales Breakdown in ETB</strong></h4>

                    <div>
                        <canvas class="chart chart-bar" chart-data="vm.salesData" chart-labels="vm.dates"
                                chart-options="options" chart-series="vm.users"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!--admin dashboard-->

<!--sales dashboard-->
<div ng-show="authService.checkPermission('user-dashboard')"
     class="row">
    <div class="col-lg-12">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" ng-bind="vm.dashboard.totalProduct"></span>
                    </div>
                    <div class="desc"> Products in total</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="12,5" ng-bind="vm.dashboard.totalService"></span>
                    </div>
                    <div class="desc"> Services in total</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="549" ng-bind="vm.dashboard.totalNumberOfSale"> ETB</span>
                    </div>
                    <div class="desc"> Your Total sale</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="89"></span>%
                    </div>
                    <div class="desc"> Total No. Item Sold</div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-12 ">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-building"></i>Sales Summary
                </div>
                <div class="actions">
                    <a ui-sref="main.sales.add" class="btn btn-primary btn-lg">
                        <i class="fa fa-plus"></i> Create Sales</a>
                </div>
            </div>
            <div class="portlet-body">

                <table class="table table-striped table-bordered table-hover table-header-fixed" id="sample_1">
                    <thead>
                    <tr class="">
                        <th> Invoice number</th>
                        <th> Tin number</th>
                        <th> Date</th>
                        <th> Total paid</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sales in vm.sales">
                        <td><a ng-show="authService.checkPermission('invoice-detail')"
                               ui-sref="main.sales.detail({invoice_id:sales.invoice.data.id})" ng-bind="sales.invoice.data.invoice_number"></a>
                        </td>
                        <td><a ui-sref="main.sales.detail({invoice_id:sales.invoice.data.id})" ng-bind="sales.invoice.data.tin_number"></a>
                        </td>
                        <td ng-bind="sales.invoice.data.date|date:'mediumDate'"></td>
                        <td ng-bind="sales.invoice.data.total_paid|number:2"> ETB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!--sales dashboard-->

