<!-- Primary modal -->
<div class="modal-content">
    <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"><i
                class="fa fa-times"></i></button>
        <h4 class="modal-title" style="text-align: center">Confirm to Delete</h4>
    </div>

    <div class="modal-body">
        <form style="height: 100px" class="form-horizontal bucket-form">
            <h4 style="text-align: center">Are you sure, you want to delete the Item</h4>
        </form>
    </div>

    <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-danger" ng-click="cancel()" type="button">Close</button>
        <button class="btn btn-primary" type="button"
                ng-click="vm.deleteItem(itemId)">Delete
        </button>
    </div>
</div>

<!-- /primary modal -->
